In [1]:
#Import Package Dependencies
from DataAnalytics import DataAnalytics
import warnings
import pandas as pd
import pyodbc
import os

warnings.filterwarnings("ignore")

In [2]:
# Create New Project
#  
# Creates a new instance of the DataAnalytics Package and links it to variable wd.
# Variable wd will allow the use of all methods in DataAnalytics package.
#
# July 2021 Update
#
# All dataframes will have a copy stored to disk using .das file extension when created.
#  
# NOTE: If .das files are detected in the current working folder then those 
#       when a new instance of DataAnalytics is created, those dataframes 
#       will be loaded into the new instance.

wd = DataAnalytics()

In [3]:
# Import Data: Delimited Files
#
# The example below will import data from a group of flat files.
# Files are located in a folder called 'data' in the same directory, 
# have the extension .asc 
# and are delimited with a semicolon (;)

source = 'file' 
folder = 'data\\'
tables = ['trans.asc','account.asc','client.asc','district.asc']

# Function: ImportFile
# Ex: wd.importFile('file.trans.asc','data\\trans.asc',';')
# 
# Import flat file 
# at location 'data\\trans.asc',
# use separator ';'
# and give the imported table the name 'file.trans.asc'
# 
# A for loop is set up below to import multiple files found in the same folder and with similar details.

for tbl in tables:
    
    wd.importFile(  folder + tbl,
                    ';',
                    tblName = source + '.' + tbl)

In [4]:
# Import Data: SQL
#
# The example below imports data from a SQL data source.
# A table is being imported from a SQL Server database.
# The data connection is first defined by specifying the odbc driver, server, database and UserID.
# The password is not required for Windows Authenticated User logon.

# NOTE: The list of available ODBC drivers can be seen by running wd.available_drivers() .
#       If the required driver is not installed, please install and run the above command 
#       to ensure it is available.

driver = 'SQL Server'
server = 'BYTE'
db = 'AnalyticsData'
UID = 'BYTE\Rory Barrett'

cxn = pyodbc.connect(
                'DRIVER={' + driver + '};SERVER=' + server + 
                ';DATABASE=' + db + 
                '; UID = ' + UID + 
                '; PWD = ' + UID + 'Trusted_Connection=yes')

# For convenience, wd.sqlCxn(...) returns a formatted connection string for the provided details. 
# The output can be read with a print statement. 
# Include pw = ... if password is required. wd.sqlCxn(driver,server,db,UID,pw='password')

# Ex: wd.importSQL(wd.sqlCxn(driver,server,db,UID),'[dbo].[account]',tblName = 'acc_x')
#
# Import data from SQL using connection string wd.sqlCxn(..), 
# table '[dbo].[account]' 
# and give the imported table the name 'acc_x' 

wd.importSQL(cxn,'[dbo].[account]',tblName = 'acc_x')

In [5]:
# Import Data: Excel Files
#
# The example below imports data from an excel file.
# File is located in a folder called 'data' in the same directory. 

folder = 'data\\'

# Ex: wd.importExcel('data\\teamsheet.xlsx')
# 
# Import XLSX file 
# at location 'data\\teamsheet.xlsx'

wd.importExcel(folder + 'teamsheet.xlsx')

# Ex: wd.importExcel('data\\teamsheet.xlsx', sheet='Names', tblName='Teamsheet_Names')
# 
# Import XLSX file 
# at location 'data\\teamsheet.xlsx', 
# use sheet 'Names' 
# and give the imported table the name 'Teamsheet_Names'
wd.importExcel(folder + 'teamsheet.xlsx', sheet='Names', tblName='Teamsheet_Names')

In [6]:
# Explore Directory 
# 
# All data imported above become part of the working directory of tables. 
# To list all tables in the directory run class method explore()

# NOTE: Run class method explore() to observe the results of the previous imports. 
#       When importing any data an optional argument called 'tblName' can 
#       be used to specify the name of the table once imported. (See previous examples) 
#       It is recommended to use this for all imports, if no tblName is specified the filename is used.
#       Most filenames need to be entered as the location of the file and because of this you may result 
#       in a tblName such as data\teamsheet.xlsx as seen below. 

wd.explore()

          Table Name
0              acc_x
1   file.account.asc
2    file.client.asc
3  file.district.asc
4     file.trans.asc
5   northern Moravia
6       sample_trans
7             summBy
8     teamsheet.xlsx
9    Teamsheet_Names

In [7]:
# Working Directory
#
# The class method wd() can be used to see the directory of this project. 
# This may be helpful when referrring to the directory/folder.
wd.wd()

'c:\\Users\\Rory Barrett\\Labs\\data-analytics-framework\\data-analytics-framework'

In [8]:
## ----- End of Formal Documentation ----- 
# DISCLAIMER: Any items below may not be fully functional or have not been formally documented.

In [9]:
# Extract and Filter
# 
# The example below opens a table from the project and demonstrates extracting new tables from existing, 
# applying filters to tables and combining both features.

# Ex: 
# - Open 'file.district.asc'
# - Apply filter 'A3 == 'north Moravia''
# - Extract result to new table 'northern Moravia'

wd.open("file.district.asc")            # - Open 'file.district.asc'

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,4355,4433
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,4063,4505
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,3736,2807
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460,3590

In [10]:

wd.filter("A3 == 'north Moravia'")      # - Apply filter 'A3 == 'north Moravia''
wd.extract("northern Moravia")          # - Extract result to new table 'northern Moravia'


# Exports
wd.exportFile(wd.csv,',',filename='Reports\myCSV')
wd.exportFile('plb','|',filename='Reports\myPLB')
wd.exportMDB(filename='Reports\myMDB')

In [11]:

wd.open("file.trans.asc")
cnd = "trans_id == 695247"
wd.extract("sample_trans",filter=cnd)

In [12]:
# Explore
wd.explore()

          Table Name
0              acc_x
1   file.account.asc
2    file.client.asc
3  file.district.asc
4     file.trans.asc
5   northern Moravia
6       sample_trans
7             summBy
8     teamsheet.xlsx
9    Teamsheet_Names

In [13]:
wd.saveall()

In [14]:
wd.open("northern Moravia")

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,4355,4433
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,4063,4505
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,3736,2807
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460,3590

In [15]:
wd.summBy('summBy',['A2'],agg_funcs={'A5':['sum','mean']}, open=False)

In [16]:
wd.context

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,4355,4433
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,4063,4505
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,3736,2807
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460,3590

In [17]:
wd.addCol('Summers',lambda row: row.A5 + row.A6)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,Summers
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,0
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674,106
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813,81
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892,92
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,4355,4433,66
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347,0
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,4063,4505,97
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,3736,2807,63
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460,3590,43

In [18]:
wd.addCol('Winters',lambda row: row.A5 * row.A6)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,Summers,Winters
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,0,0
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674,106,2080
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813,81,1430
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892,92,1827
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040,95,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,4355,4433,66,833
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347,0,0
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,4063,4505,97,2010
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,3736,2807,63,992
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460,3590,43,280

In [19]:
wd.addCol('Final', lambda row: 'Summer was ' + str(row.Summers))

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,Summers,Winters,Final
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107,0,0,Summer was 0
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674,106,2080,Summer was 106
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813,81,1430,Summer was 81
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892,92,1827,Summer was 92
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040,95,1950,Summer was 95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Opava,north Moravia,182027,17,49,12,2,7,56.4,8746,3.33,3.74,90,4355,4433,66,833,Summer was 66
73,74,Ostrava - mesto,north Moravia,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347,0,0,Summer was 0
74,75,Prerov,north Moravia,138032,67,30,4,2,5,64.6,8819,5.38,5.66,99,4063,4505,97,2010,Summer was 97
75,76,Sumperk,north Moravia,127369,31,32,13,2,7,51.2,8369,4.73,5.88,107,3736,2807,63,992,Summer was 63
76,77,Vsetin,north Moravia,148545,8,35,12,3,4,53.5,8909,4.01,5.56,113,3460,3590,43,280,Summer was 43